* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}


ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

aside{
  position: fixed;
  border: 1px solid rgba(0,173,238,0.4);
  height: 99vh;
  width: 200px;
}

aside>img{
  height: 120px;
  display: block;
  margin-left:auto;
  margin-right:auto;
}


li a{
  font-weight: bold;
  color: rgb(0, 173, 238);
  text-decoration-line: none;
}
li{
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 173, 238, 0.4);
  list-style-type: none;
  width: 15vh;
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding-top: 20px;
  padding-bottom: 20px;
}




li:first-child a{
  text-decoration-line: underline;
}
header img{
  height:100px;
  margin-bottom:50px;
  padding-bottom: 50px;
}

section{
  width: 90%;
}

section div{
  width:33%;
  padding-top: 20px;
  margin-top: 20px;
  padding-right:20px;
  padding-left: 20px;
  margin-left:20px;
  display: inline-block;
}

section div h2 i{
  text-align: block;
  padding-right: 20px;
  margin-right: 20px;
}
section div #our-work{
  border: 1px solid rgba(170, 239, 135, 0.8);
}
section div #what-we-do{
  border: 1px solid rgba(170, 239, 135, 0.8);
}
h2{
  color: rgb(140, 195, 111);
}


main{
  position: static;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 200px;
  margin-right: 200px;
  
}